<!DOCTYPE html>
<title>Redemption</title>

<body>
  <div class="container-fluid text-center">
    <div class="form-group col-sm-12">
      <div class="col-sm-10 martopten col-sm-offset-1 form-group">
        <div class="form-group border_cus col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center pad_top_birth padd_bottom30">
            <label class="text-center f22">Thank you!</label>
            <label class="pad_top col-sm-8 col-sm-offset-2 normal-font-weight">Your request #000001 has been successfully submitted and will be reviewed within 24 hours. A copy of this confirmation
              was sent to johndoe@gmail.com You can check the status of your request
              <a id="orderConfirmation">here</a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>