<div class="col-sm-11 col-sm-ofset-1">
  <h4>Redeemer</h4>
</div>
<div class="col-sm-6">
  <ul>
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <div>
      <ul class="pad-lft-IS">
        <li>
          <a routerLink="/mFARequest">MFA Request</a>
        </li>
        <li>
          <a routerLink="/mFAChooseMethod">MFA Choose Method</a>
        </li>
        <li>
          <a routerLink="/mFAEnterCodeEmail">MFA Enter Code Email</a>
        </li>
        <li>
          <a routerLink="/mFAEnterCodePhoneText">MFA Enter Code Phone Text(Descoped and moved to MVP+)</a>
        </li>
        <li>
          <a routerLink="/mFAEnterCodePhoneCall">MFA Enter Code Phone Call(Descoped and moved to MVP+)</a>
        </li>
        <li>
          <a routerLink="/forgetPassword">Forget Password</a>
        </li>
        <li>
          <a routerLink="/help">Help</a>
        </li>
      </ul>
    </div>
  </ul>
  <ul>
    <li>
      <a routerLink="/createaccount">CreateAccount</a>
    </li>
    <div>
      <ul>
        <li>
          <a routerLink="/accountcreationpersonal">Account Creation (Personal)</a>
        </li>
        <li>
          <a routerLink="/callOrTextMFARequest">Call/text MFA request</a>
        </li>
        <li>
          <a routerLink="/callortextmfarequestemail">Call/text MFA request - Email</a>
        </li>
        <li>
          <a routerLink="/callOrTextMFARequestText">Call/text MFA request - text(Descoped and moved to MVP+)</a>
        </li>
        <li>
          <a routerLink="/callOrTextMFARequestCall">Call/text MFA request - call(Descoped and moved to MVP+)</a>
        </li>
        <li>
          <a routerLink="/accountcreationwallet">Account Creation (Wallet)</a>
        </li>
        <li>
          <a routerLink="/accountcreationoverview">Account Creation (Overview)</a>
        </li>
        <div>
          <ul>
            <li>
              <a routerLink="/dialog">Restrictions</a>
            </li>
          </ul>
        </div>
        <li>
          <a routerLink="/">Account Creation (Overview)-Terms of agreement</a>
        </li>
      </ul>
    </div>
  </ul>
  <ul>
    <li>
      <a routerLink="/accountpage">Account page</a>
    </li>

    <div>
      <ul>
        <li>
          <a routerLink="/redumptionhistory">Redumption History</a>
        </li>
        <li>
          <a routerLink="/accountsettings">Account Settings</a>
        </li>
        <li>
          <a routerLink="/orderdetails">Order Details</a>
        </li>
        <li>
          <a routerLink="/productcatalog">Product Catalog-Upload Import</a>
        </li>
        <li>
          <a routerLink="/productcatalog">Product Catalog-3rd Party API Integration(Descoped and moved to MVP+)</a>
        </li>
        <li>
          <a routerLink="/productcatalog">Product Catalog</a>
        </li>
        <li>
          <a routerLink="/productdescription">Product Description</a>
        </li>
        <li>
          <a routerLink="/cartreview">Cart Review</a>
        </li>
        <div>
          <ul>
            <li>
              <a routerLink="/shipping">Shipping</a>
            </li>
            <li>
              <a routerLink="/shippingwithrestrictions">Shipping (with restrictions)</a>
            </li>
            <li>
              <a routerLink="/addressrestricted">Address (restricted)</a>
            </li>
            <li>
              <a routerLink="/orderconfirmation">Order Confirmation</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </ul>
</div>