<!DOCTYPE html>
<title>Redemption</title>

<body>
	<div class="container-fluid text-center">
		<div class="form-group text-left">
			<div class="col-sm-8 border_cus col-sm-offset-2">
				<div class="form-group margin_top_pro  col-xs-12 col-sm-12">
					<a id="returnCatalog">Return to Catalog</a>
				</div>
				<div class="form-group  col-xs-12 col-sm-12">
					<label class="f20">Cart</label>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class=" form-group col-sm-4 mar_bottom">
						<div class="form-group col-sm-12 col-xs-12">
							<img src="assets/Images/proficon.png" alt="Profile icon" style="width:100%">
						</div>
					</div>
					<div class=" form-group col-sm-2 text-center">
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">Product X</label>
						</div>
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">2</label>
						</div>
					</div>
					<div class=" form-group col-sm-3 text-center">
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">Zerv/Price</label>
						</div>
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">X,XXX.00</label>
						</div>
					</div>
					<div class=" form-group col-sm-3 text-center">
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">Total</label>
						</div>
						<div class="col-sm-12 col-xs-6">
							<label class="form-group">XX,XXX.00</label>
						</div>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-12">
					<hr class="col-sm-11 hr_costum">
				</div>
				<div class=" col-xs-12 col-sm-12">
					<div class=" form-group col-sm-6 text-right col-sm-offset-6">
						<div class="col-sm-8 col-xs-7">
							<label>Est. Shipping :</label>
						</div>
						<div class="col-sm-3 col-xs-5">
							<label>X,XXX.00</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class=" form-group col-sm-6 text-right col-sm-offset-6">
						<div class="col-sm-8 col-xs-7">
							<label>Tax:</label>
						</div>
						<div class="col-sm-3 col-xs-5">
							<label>X,XXX.00</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 pad_top_birth">
					<div class=" form-group col-sm-4 text-right  col-sm-offset-8">
						<div class="col-sm-12 col-xs-12">
							<a style="text-decoration:none; width:100%;" id="processToShipp" class="btn btn-info btn-md left-block">PROCEED TO SHIPPING</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>